[package]
name = "vk-shader-macros"
description = "Procedural macros for working with Vulkan shaders"
repository = "https://github.com/Ralith/vk-shader-macros"
version = "0.1.0"
authors = ["Benjamin Saunders <ben.e.saunders@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2018"
readme = "README.md"
keywords = ["vulkan", "spirv"]
categories = ["rendering"]

[badges]
maintenance = { status = "actively-developed" }

[features]
default = ["build-native-shaderc"]
build-native-shaderc = ["vk-shader-macros-impl/build-native-shaderc"] # Clone and build the C++ shaderc project

[dependencies]
vk-shader-macros-impl = { path = "impl", version = "0.1.0", default-features = false }
proc-macro-hack = "0.5.4"
